@{
    var id = (string)Model.Id;
    var userName = (string)Model.UserName;
    var displayName = (string)Model.DisplayName;
}
<div class="well well-sm profile-well">
    @UserName.Render(Url, id, userName, displayName, 48, 48)
</div>
