<div id="in-process-alert" class="alert alert-warning" style="position: absolute; padding: 5px; display: none;">
    <img src="@Url.Content("~/Images/ajax-loader.gif")" width="16" height="16" /> 処理中...
</div>
