<div class="nav navbar-nav navbar-right" id="navbar-search">
    <form class="navbar-form" ng-submit="_layout.search()">
        <div class="form-group">
            <input class="form-control input-sm" type="search" name="search" ng-model="_layout.TextSearch" placeholder="リストを検索" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-sm navbar-btn" title="検索">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </form>
</div>
