.tag-anchor {
  font-size: small;
  padding: 2px 5px 2px 5px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
  color: #666666;
  background-color: #f9f9f9;
  border: 1px solid #e7e7e7;
}
.list-summary {
  border-bottom: 1px solid #ededed;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
  /*.favicon {
        margin-top: 12px;

        img.grayscale {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.5 0.5 0.5 0 0 0.5 0.5 0.5 0 0 0.5 0.5 0.5 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: gray;
            -webkit-filter: grayscale(100%);
            -webkit-backface-visibility: hidden;
        }

        img.grayscale-disabled {
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }*/
}
.list-summary .title {
  font-weight: 700;
  margin-bottom: 6px;
  margin-top: 6px;
}
.list-summary .title a {
  display: inline-block;
  white-space: nowrap;
  max-width: 100%;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-summary .title a:visited {
  color: #808080;
}
.list-summary .comment {
  white-space: pre-wrap;
  color: #333333;
  font-size: small;
  margin: 0px;
  margin-bottom: 6px;
}
.list-summary .tag {
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 6px;
  line-height: 1.5em;
}
.list-summary .tag a {
  font-size: small;
  padding: 2px 5px 2px 5px;
  margin-right: 4px;
  margin-top: auto;
  margin-bottom: auto;
  color: #666666;
  background-color: #f9f9f9;
  border: 1px solid #e7e7e7;
}
.list-summary .list-actions-container {
  position: relative;
}
.list-summary .list-actions-container .list-actions {
  position: absolute;
  right: 20px;
  bottom: 0px;
  color: #999999;
}
.list-summary .list-actions-container .list-actions:hover {
  color: black;
}
.list-summary .list-actions-container .list-actions span.fa {
  cursor: pointer;
}
.list-summary .meta-container .meta-vertical,
.list-summary .meta-container .meta-horizontal {
  margin-top: 6px;
}
.list-summary .meta-container .meta {
  font-size: small;
  color: #999999;
  margin: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}
.list-summary .meta-container .meta img.user-profile-image {
  vertical-align: middle;
}
.list-summary .meta-container .meta-vertical .meta img.user-profile-image {
  margin-top: 4px;
}
.list-summary .meta-container .meta-vertical .meta .user-display-name {
  vertical-align: middle;
}
.list-summary .list-detail {
  margin-top: 10px;
  border: 1px solid #eeeeee;
  border-left: 5px solid #eee;
}
.item-action-base {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #f5f5f5;
}
.item-action-base:hover,
.item-action-base:focus,
.item-action-base:active,
.item-action-base.active {
  border-color: #999999;
}
.item-action-base .sortable-handle {
  cursor: move;
}
.item-action-base .btn-default {
  color: #999999;
  border: none;
  background: transparent;
}
.item-action-base .btn-default:hover,
.item-action-base .btn-default:focus,
.item-action-base .btn-default:active,
.item-action-base .btn-default.active,
.item-action-base .btn-default .open .dropdown-toggle.btn-default {
  color: black;
  border: none;
  background: transparent;
  background-image: none;
}
.item-action-base .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.item-action-base .btn:active,
.item-action-base .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-detail form {
  font-size: small;
}
.list-detail .form-control,
.list-detail .btn {
  font-size: small;
}
.list-detail .list-items {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
.list-detail .list-items .item {
  list-style: none;
  padding: 6px 4px 0px 4px;
  position: relative;
}
.list-detail .list-items .item:last-child {
  padding-bottom: 12px;
}
.list-detail .list-items .item:last-child .link-separator,
.list-detail .list-items .item:last-child .heading-separator,
.list-detail .list-items .item:last-child .text-separator {
  border: none;
  margin-top: 0px;
}
.list-detail .list-items .item .item-action {
  position: absolute;
  bottom: 4px;
  right: 4px;
  background-color: #f5f5f5;
}
.list-detail .list-items .item .item-action:hover,
.list-detail .list-items .item .item-action:focus,
.list-detail .list-items .item .item-action:active,
.list-detail .list-items .item .item-action.active {
  border-color: #999999;
}
.list-detail .list-items .item .item-action .sortable-handle {
  cursor: move;
}
.list-detail .list-items .item .item-action .btn-default {
  color: #999999;
  border: none;
  background: transparent;
}
.list-detail .list-items .item .item-action .btn-default:hover,
.list-detail .list-items .item .item-action .btn-default:focus,
.list-detail .list-items .item .item-action .btn-default:active,
.list-detail .list-items .item .item-action .btn-default.active,
.list-detail .list-items .item .item-action .btn-default .open .dropdown-toggle.btn-default {
  color: black;
  border: none;
  background: transparent;
  background-image: none;
}
.list-detail .list-items .item .item-action .btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-detail .list-items .item .item-action .btn:active,
.list-detail .list-items .item .item-action .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.list-detail .list-items .item .item-link .link-content {
  margin-left: 24px;
}
.list-detail .list-items .item .item-link .with-eye-catch .link-image {
  width: 70px;
}
.list-detail .list-items .item .item-link .with-eye-catch .link-content {
  margin-left: 78px;
}
.list-detail .list-items .item .item-link .item-title {
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 2px;
}
.list-detail .list-items .item .item-link .item-title a:visited {
  color: #808080;
}
.list-detail .list-items .item .item-link .item-comment {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: small;
  color: #333333;
  white-space: pre-wrap;
}
.list-detail .list-items .item .item-link blockquote {
  margin: 0px;
  padding: 4px;
  font-size: small;
  color: #999999;
}
.list-detail .list-items .item .item-link blockquote * {
  font-size: small;
  color: #999999;
  margin: 0px;
  margin-bottom: 4px;
  padding: 0px;
}
.list-detail .list-items .item .item-link .link-plugin-after-title {
  color: #999999;
  font-size: small;
  font-weight: normal;
  margin-left: 4px;
}
.list-detail .list-items .item .item-link .link-plugin-after-title a {
  color: #999999;
  padding: 0px;
}
.list-detail .list-items .item .item-link .link-plugin-append {
  margin-top: 8px;
  margin-bottom: 0px;
}
.list-detail .list-items .item .item-link .link-plugin-append pre {
  font-size: small;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', MeiryoKe_PGothic, Meiryo, sans-serif;
  margin-bottom: 0px;
}
.list-detail .list-items .item .item-link .link-plugin-item-left img {
  border: 1px solid #dddddd;
  max-width: 70px;
  max-height: 70px;
  width: auto;
  height: auto;
}
.list-detail .list-items .item .item-link .link-plugin-item-left img.favicon {
  margin-left: 54px;
}
.list-detail .list-items .item .item-heading h2 {
  margin: 0px;
  padding: 0px;
  border: none;
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}
.list-detail .list-items .item .text-comment {
  margin-top: 2px;
  margin-bottom: 12px;
  font-size: small;
  color: #333333;
  white-space: pre-wrap;
}
.list-detail .list-items .item .link-separator {
  margin: 0px;
  margin-top: 12px;
  margin-left: -4px;
  margin-right: -4px;
  border: none;
  border-bottom: 1px solid #eeeeee;
}
.list-detail .list-items .item .heading-separator {
  margin: 0px;
  margin-left: -4px;
  margin-right: -4px;
  border: none;
  border-bottom: 2px solid #cccccc;
}
.list-detail .list-items .item .text-separator {
  margin: 0px;
  margin-left: -4px;
  margin-right: -4px;
  border: none;
  border-bottom: 1px solid #eeeeee;
}
.condition {
  font-size: larger;
  padding-bottom: 5px;
  border-bottom: 1px solid #ededed;
}
